<%= form_for @person do |f| %>
<fieldset>
  <legend>Person</legend>
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
</fieldset>
<fieldset>
  <legend>Address</legend>
  <%= f.fields_for :address do |af| %>
    <div>
      <%= af.label :street_address %>
      <%= af.text_field :street_address %>
    </div>
    <div>
      <%= af.label :city %>
      <%= af.text_field :city %>
    </div>
    <div>
      <%= af.label :state %>
      <%= af.text_field :state %>
    </div>
    <div>
      <%= af.label :zip %>
      <%= af.text_field :zip %>
    </div>
  <% end %>
</fieldset>
<div>
  <%= f.submit %>
</div>
<% end %>
